<h1>{{ title }}</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input [(ngModel)]="user.username" type="text" class="form-control" formControlName="username">
    <div *ngIf="form.controls.username.touched &&
                !form.controls.username.valid" class="alert alert-danger">
        Username is required
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input [(ngModel)]="user.email" class="form-control" formControlName="email">
      <div *ngIf="form.controls.email.touched && form.controls.email.errors">
        <div *ngIf="form.controls.email.errors.required" class="alert alert-danger">
          Email is required.
        </div>
      </div>
    </div>
    <button [disabled]="!form.valid" class="btn btn-primary" type="submit">{{ title }}</button>
</form>
