<h1>Users</h1>
<button class="btn btn-primary" (click)="add()">Add</button>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a>
          <i class="glyphicon glyphicon-edit"></i>
        </a>
      </td>
      <td>
        <a>
          <i class="glyphicon glyphicon-remove" (click)="delete(user)"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
